*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Montez", cursive;
  font-family: "Montserrat", sans-serif;
  background-color: #d6dcea;
  color: black;
  -webkit-text-size-adjust: 100%;
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.user-list {
  position: fixed;
  padding: 20px 15px;
  width: 250px;
  height: 100vh;
  color: white;
  background-color: #283046;

  .title {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
  }

  .list button {
    width: 100%;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-align: left;

    .date {
      text-wrap: nowrap;
    }
    .new-msg {
      display: block;
      text-align: center;
      font-size: 11px;
      line-height: 18px;
      border-radius: 50%;
      background-color: red;
      width: 18px;
      height: 18px;
    }
  }

  .date-user {
    align-self: flex-start;
  }

  button.user-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 0.4rem;

    &.active {
      background: linear-gradient(
        72.47deg,
        rgb(115, 103, 240) 22.16%,
        rgba(115, 103, 240, 0.7) 76.47%
      ) !important;
    }
  }

  .name {
    font-size: 13px;

    p:first-child {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 5px;
    }
  }

  .date {
    font-size: 13px;
  }
}

.wrapper {
  margin-left: 250px;
}
.chat-room {
  padding: 50px 15px 30px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.chat {
  width: 100%;
  margin-bottom: 10px;
}
.chat-body {
  display: block;
  overflow: hidden;
}
.chat-room .body {
  height: calc(100% - 100px);
  padding-top: 20px;
  padding-right: 20px;
  flex-grow: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.action {
  display: flex;
}
.action-input {
  padding: 10px;
  margin-right: 15px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
}
.input {
  padding: 10px;
  margin-left: 20px;
  border: none;
  outline: none;
  border-radius: 0.4rem;
}
.user-input {
  width: 150px;
}
.btn {
  position: relative;
  flex: 0 0 100px;
  width: 100px;
  font-weight: 700;
  background-color: #283046;
  color: white;
  border-radius: 10px;

  &-hide {
    opacity: 0;
  }

  &-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
  }

  &-loader.hide {
    opacity: 0;
  }
}
.chat-left {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(28, 170, 217, 0.2);
  color: #000;
  font-weight: 700;
}
.chat-left span {
  display: block;
}
.sm {
  font-size: 13px;
  color: #2bb9e9;
}
.right {
  float: right;
}

.navbar {
  position: absolute;
  top: 0;
  left: 250px;
  right: 0;
  padding: 10px;
}

.nav {
  color: white;
  background-color: #283046;
  border-radius: 0.4rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h5 {
    margin: 0;
  }
  button {
    font-weight: 700;
    color: white;
  }
}

@import "./login";
/* HTML: <div class="loader"></div> */
.loader {
  width: 100%;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.no-chat {
  text-align: center;
  font-size: 14px;
  background-color: rgba(red, 0.5);
  border-radius: 0.4rem;
  padding: 10px 0;
  margin-right: -20px;
}
